@CHARSET "UTF-8";

body {
	font-family: sans-serif;
}

.telaLogin {
	width: 100%;
	height: 550px;
	text-align: center;
}

.formularioLogin {
	width: 30%;
	margin: auto;
	background: rgba(0, 0, 153, 0.2);
	padding: 30px;
}

.banner-video {
	position: relative;
}

h3 {
	color: #000099;
	font-size: 1.8em;
	font-weight: 600;
	margin-bottom: 1em;
}

.espacoTopo {
	margin-top: 50px;
	padding-top: 20px;
}

hr {
	height: 4px;
	width: 30%;
	text-align: left;
	margin: 0 auto 0 0;
}

.page-header {
	padding: 20px;
	background-color: #81BEF7;
	height: 150px;
	color: white;
	font-size: 24px;
	height: 150px;
	margin-top: 0;
}

ul.breadcrumb {
	list-style: none;
	color: white;
	background-color: #81BEF7;
	font-size: 20px;
}

.bloco {
	padding: 20px;
	margin: 20px 60px;
}

.panel-heading {
	background-color: #000099;
}

.features {
	padding: 3% 0;
}

.feature-text  p {
	color: #8e8e8e;
	font-weight: 400;
	font-size: 1.2em;
	line-height: 1.5em;
}

.features-section {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.features-section i {
	display: inline-block;
	color: #81BEF7;
}

.features-section h3 {
	color: #393939;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3em;
	margin: 1em 0 .5em;
	font-weight: 700;
}

.features-section p {
	color: #8e8e8e;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5em;
	width: 75%;
	margin: 0 auto;
}

.get-started {
	background: url(../images/get.jpg) no-repeat 0px 0px;
	min-height: 400px;
	padding: 8% 0;
	color: #fff;
	background-size: cover;
	text-align: center;
}

.get-started h4 {
	font-size: 1.5em;
	margin-bottom: 1em;
	font-weight: 600;
}

.get-started a {
	padding: 12px 18px;
	border: 1px solid #0199e6;
	font-size: 1.2em;
	color: #fff;
	outline: none;
	font-weight: 600;
	text-decoration: none;
	background: #0199e6;
	border-radius: 3px;
}

.get-started a:hover {
	background: transparent;
	border: 1px solid #0199e6;
}

.footer {
	background: #191970;
	padding: 2em 0;
	text-align: center;
}

.footer a img {
	display: inline-block
}

.copy-right {
	margin-top: 1em;
	color: #ccc;
}

.navbar-default {
	background-color: #000099;
	border-color: #81bef7;
	margin-bottom: 0;
}

#acesso {
	whidth: 100%;
	background-color: #191970;
}

.nav>li>a {
	color: #d9edf7;
}

.nav>li>a:hover {
	color: #000099;
}

.navbar-default .navbar-brand {
	color: #ecf0f1;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
	{
	color: #ecf0f1;
}

.navbar-default .navbar-text {
	color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
	color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ecf0f1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #ecf0f1;
	background-color: #81bef7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
	.navbar-default .navbar-nav>.open>a:focus {
	color: #ecf0f1;
	background-color: #81bef7;
}

.navbar-default .navbar-toggle {
	border-color: #81bef7;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #81bef7;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ecf0f1;
}

.navbar-default .navbar-link {
	color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
	color: #ecf0f1;
}

@media ( max-width : 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
		.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #ecf0f1;
		background-color: #81bef7;
	}
}

.bannerPassagem {
	position: absolute;
	top:33%;
	width: 60%;
	margin: 0 auto;
	left: 20%;
}

.reservation {
	padding: 30px;
	background: rgba(255, 255, 255, 0.27);
}

