<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ItinerarioController</servlet-name>
  	<display-name>ItinerarioController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.ItinerarioController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AeronaveController</servlet-name>
  	<display-name>AeronaveController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.AeronaveController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PessoaController</servlet-name>
  	<display-name>PessoaController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.PessoaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClasseController</servlet-name>
  	<display-name>ClasseController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.ClasseController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ParceiroController</servlet-name>
  	<display-name>ParceiroController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.ParceiroController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PassagemController</servlet-name>
  	<display-name>PassagemController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.PassagemController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PoltronaController</servlet-name>
  	<display-name>PoltronaController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.PoltronaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VendaController</servlet-name>
  	<display-name>VendaController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.VendaController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VooController</servlet-name>
  	<display-name>VooController</display-name>
  	<description></description>
  	<servlet-class>br.com.voo.controller.VooController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ItinerarioController</servlet-name>
  	<url-pattern>/ItinerarioController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AeronaveController</servlet-name>
  	<url-pattern>/AeronaveController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PessoaController</servlet-name>
  	<url-pattern>/PessoaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClasseController</servlet-name>
  	<url-pattern>/ClasseController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ParceiroController</servlet-name>
  	<url-pattern>/ParceiroController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PassagemController</servlet-name>
  	<url-pattern>/PassagemController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PoltronaController</servlet-name>
  	<url-pattern>/PoltronaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VendaController</servlet-name>
  	<url-pattern>/VendaController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VooController</servlet-name>
  	<url-pattern>/VooController</url-pattern>
  </servlet-mapping>
</web-app>
